/*----------------------------------------------   
-- Header Styling
-----------------------------------------------  */

.header {
        position: relative;
        display: table;
        width: 100%;
	height: 6em;

	.container {
        	position: relative;
        	display: table-cell;
		vertical-align: middle;
		background-color: $color-blue;
        	color: $color-light;
        	text-align: center;
	}

        img {
                width: 100px;
        }

	.brand {
		font-family: Lato;
		font-weight: 100;
		font-size: 0.75em;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
		text-transform: uppercase;
		
		h1 {
			font-weight: 900;
		}
	}
}

