/*----------------------------------------------
--Ribbon
-----------------------------------------------  */

.section-ribbon {
	padding: 2em;
	background-color: $color-blue;
	color: $color-light;
	z-index: 1;
	
	.ribbon-text {
		position: relative;
		margin: 1em 0;
		padding: 1em 0;
		font-family: Lato;
		font-style: italic;
		font-weight: 700;
		font-size: 1.55em;
		line-height: 1.5em;
		z-index: 3;
		@media (min-width: $mq-large) {
			font-size: 0.85em;
			line-height: 1.5em;
		}
		
		.ribbon-number {
			font-size: 1.2em;
			font-family: Lato;
			font-style: italic;
			font-weight: 100;
			line-height: 1.25em;
			color: $color-yellow;
			text-shadow: 1px 1px 1px rgba($color-yellow,0.5);
			@media (min-width: $mq-large) {
				font-size: 2.9em;
				line-height: 0.995em;
			}
		}

		h2 {
			font-size: 0.8em;
			font-style: normal;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1.55em;
			color: $color-light-alpha;
			@media (min-width: $mq-large) {
				font-size: 1.1em;
				line-height: 2.85em;
			}
		}
	
		p {
			font-size: 0.55em;
			font-style: italic;
			font-weight: 100;
			text-shadow: 1px 1px 1px rgba($color-light,0.5);
			text-transform: uppercase;
			line-height: 2.9em;
			color: $color-light-alpha;
			@media (min-width: $mq-large) {
				font-size: 0.95em;
				line-height: 3.5em;
			}
		}
	}
	
	a {
		text-decoration: none;
		color: $color-light-alpha;
	}
	
	img {
		float: left;
	}
}
